.table-paginator-wrapper {
  background: rgba(255, 255, 255, 0);
  max-width: 100%;
  // overflow-x: scroll;

  .table-wrapper {
    table,
    tr {
      margin: auto auto;
      margin-left: 10px;

      * {
        box-sizing: border-box;
      }

      .table-header-cell {
        padding-bottom: 15px;
      }

      .checkbox-cell {
        // padding: 0px;
        // padding: 20px;
        height: 100%;
        width: 100%;
        .checkbox-wrapper {
          height: 100%;
          width: 100%;
          padding: 0px;
          // padding-left: 15px;
          // display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .thumbnail-cell {
        height: 100%;
        width: 100%;
        padding: 0px;
        .thumnail-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 30px;
            height: 30px;
            margin-right: 15px;
            margin-left: 15px;
          }
        }
      }

      .wlot {
        position: relative;
        width: 45px;
        height: 30px;
        background-color: rgba(0, 0, 0, 0);
        margin-left: 5px;
      }

      .cell-content-wrapper {
        position: relative;
        height: 100%;
        width: 100%;
      }

      .left-align-table-cell-content {
        white-space: nowrap;
        position: absolute;
        left: 0px;
      }

      .invisibly-size-table-cell {
        white-space: nowrap;
        opacity: 0;
      }

      .mat-form-field {
        font-size: 14px;
      }

      .mat-row {
        height: auto;
      }

      .mat-cell {
        padding: 15px 15px 15px 0px;
      }
    }
  }
}

.paginator {
  width: 100%;
}
