@if (apiData) {
  <div class="fits-jpg-toggler-container" #FitsJpgTogglerContainer>
    <div class="viewer-layer lib-ngx-js9-wrapper">
      <lib-ngx-js9
        [widthPxls]="widthPxls"
        [heightPxls]="heightPxls"
        [siteTheme]="'DARK-THEME'"
        [fitsUrl]="viewerFitsUrl"
        [globalOpts]="{
          menuBar: ['view', 'zoom', 'scale', 'color', 'region'],
          alerts: false,
        }"
        (fitsLoadStatus)="onFitsLoadStatusUpdate($event)"
        (imageClickCoordinates)="onFitsImageClick($event)"
      ></lib-ngx-js9>
    </div>

    <div class="viewer-layer panstarrs-overlay-wrapper" [class.viewer-layer-hidden]="isFits">
      <app-panstarrs-overlay></app-panstarrs-overlay>
    </div>

    <button
      mat-fab
      [disabled]="isFitsButtonDisabled()"
      (click)="toggleFits()"
      [ngClass]="{ 'raise-button': isButtonRaised }"
    >
      @if (isFits) {
        <mat-icon>{{ 'image' }}</mat-icon>
      } @else {
        <span style="font-weight: bold">{{ 'FITS' }}</span>
      }
    </button>
  </div>
} @else {
  <mat-progress-spinner></mat-progress-spinner>
}
