.panstarrs-overlay-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  .no-data-found {
    position: absolute;
    top: 15px;
    left: 15px;
    color: red;
    font-size: 16px;
    font-weight: bold;
    z-index: 10;
  }

  .ra-dec-div {
    position: absolute;

    // $radius: 40px;
    // width: $radius;
    // height: $radius;
    // background: radial-gradient(circle, red 0%, transparent 100%);
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid red;
    // border: 1px solid blue;
    transform: translate(-50%, -50%);
    overflow: show;

    .object-info {
      background-color: rgba(red, 0.5);
      display: none;
      min-width: 200px; // Or any specific width you want
      width: max-content; // Allows content to determine width
      cursor: pointer;
      font-size: 8px;
    }
    &:hover .object-info {
      display: block;
    }
  }

  .image-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }

  .ra-dec-div-wcs {
    position: absolute;
    // border: 1px dotted #00ffff; // Cyan dotted border for distinction
    border: 1px solid orange; // Cyan dotted border for distinction
    // border: 1px dotted red; // Cyan dotted border for distinction
    background-color: rgba(0, 255, 255, 0.15); // Light cyan background
    border-radius: 50%; // Circular markers
    box-sizing: border-box;
    pointer-events: none; // So they don't interfere with underlying image interactions
  }
}
