@use "sass:map";
@use "@angular/material" as mat;

// See light theme for how to generate this
$_palettes: (
  primary: (
    50: #e7ebf0,
    100: #c3ced9,
    200: #9badbf,
    300: #738ca5,
    400: #557392,
    500: #375a7f,
    600: #315277,
    700: #2a486c,
    800: #233f62,
    900: #162e4f,
    A100: #8bb8ff,
    A200: #5898ff,
    A400: #2579ff,
    A700: #0c69ff,
  ),
  secondary: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #1a1c1c,
    20: #2f3131,
    25: #3a3c3c,
    30: #454747,
    35: #515353,
    40: #5d5f5f,
    50: #767777,
    60: #909191,
    70: #aaabab,
    80: #c6c6c7,
    90: #e2e2e2,
    95: #f0f1f1,
    98: #f9f9f9,
    99: #fcfcfc,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    4: #0a0b0b,
    6: #101111,
    10: #1a1c1c,
    12: #1e2020,
    17: #292b2b,
    20: #2f3131,
    22: #333535,
    24: #383a3a,
    25: #3a3c3c,
    30: #454747,
    35: #515353,
    40: #5d5f5f,
    50: #767777,
    60: #909191,
    70: #aaabab,
    80: #c6c6c7,
    87: #dadada,
    90: #e2e2e2,
    92: #e8e8e8,
    94: #edeeee,
    95: #f0f1f1,
    96: #f3f4f4,
    98: #f9f9f9,
    99: #fcfcfc,
    100: #ffffff,
  ),
  neutral-variant: (
    0: #000000,
    10: #181c1d,
    20: #2d3132,
    25: #383c3d,
    30: #444748,
    35: #4f5354,
    40: #5b5f60,
    50: #747878,
    60: #8e9192,
    70: #a8acac,
    80: #c4c7c8,
    90: #e0e3e3,
    95: #eef1f2,
    98: #f7fafa,
    99: #fafdfd,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

// Convert maps into 'palettes'
$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

$app-dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
  )
);
