<mat-toolbar class="main-mat-toolbar" [ngStyle]="getMatToolbarStyles()">
  <div class="nav-menu-in-header">
    <ul class="links-in-header">
      <li (click)="delayedRouting('home')">
        <span style="font-size: 30px"
          >CATCH<span style="font-size: 10px">V3</span></span
        >
      </li>
      <li (click)="delayedRouting('about')">About</li>
      <li (click)="delayedRouting('apis')">APIs</li>
      <li (click)="delayedRouting('dashboard')">Dashboard</li>
      <li (click)="delayedRouting('contact')">Contact</li>
    </ul>

    <div class="spacer">
      This div will use up in-between space and this text won't be seen
    </div>

    <!-- <button mat-icon-button (click)="delayedRouting('settings')">
      <mat-icon mat-list-icon> settings </mat-icon>
    </button> -->

    <!-- <a
      class="feedback-link"
      href="https://forms.office.com/pages/responsepage.aspx?id=0FRi_5BGikakrYKKzju2aMC3R0Ppo7dGlS2WNHkgVqNUOFNZVEQwWFU5NUJKVlRLOThLQ1NIQUxEWC4u&route=shorturl"
      >WE WANT YOUR FEEDBACK!</a
    > -->
  </div>

  <div class="nav-menu-in-side-nav">
    <button matRipple mat-icon-button (click)="_openSidenav()">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="spacer">
      This div will use up in-between space and this text won't be seen
    </div>

    <div class="title" (click)="delayedRouting('home')">
      <span style="font-size: 30px">CATCH</span>
    </div>

    <div class="spacer">
      This div will use up in-between space and this text won't be seen
    </div>

    <!-- <button mat-icon-button (click)="delayedRouting('settings')">
      <mat-icon mat-list-icon> settings </mat-icon>
    </button> -->
  </div>
</mat-toolbar>
