.queries-container {
  margin-bottom: 16px;
}

.loading-container,
.error-container {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.error-card {
  background-color: #ffebee;
  margin-bottom: 16px;
  p {
    color: red;
  }
}

.queries-content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .queries-card {
    width: 100%;

    .query-display {
      font-size: 16px;
      font-weight: bold;

      .mat-line-secondary {
        font-size: 14px;
      }
    }
  }
}

.errored-text {
  color: red;
}
