.title-bar-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Adds spacing between the items */

  background-color: #101414;

  font-size: 16px;

  &.isMobile {
    font-size: 12px;
    gap: 10px; /* Adjust spacing for mobile view */
  }

  div {
    flex: 1 1 auto;
    padding: 10px; /* Adds padding inside each section */
  }

  .jobid {
    a {
      margin-left: 4px;
    }
  }

  .title,
  .results,
  .jobid {
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 5px 15px; /* Adds inner spacing for better readability */
    // margin: 0 5px; /* Adds spacing between these specific elements */
    a {
      color: #004f4f;
    }
  }

  .download-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-top: 10px; /* Adds spacing above the download button */
    button {
      // color: blue;
      color: #004f4f;
    }
  }
}
