<div class="title-bar-container" [ngClass]="{ isMobile: isMobile }">
  <div class="title">{{ "TARGET: " + searchDescriptor }}</div>

  <div class="results">
    {{ "RESULTS: " + (rowsInTable ? rowsInTable : "") + " " }}
  </div>

  <div class="jobid">
    JOB: <a [href]="dataLink" target="_blank">{{ getJobId() }}</a>
  </div>

  <div class="download-button-wrapper">
    <button
      class="download-button"
      mat-button
      matTooltip="Download Selected Data"
      (click)="downloadData()"
      [disabled]="isDownloadButtonDisabled()"
    >
      <ng-container *ngIf="!!isDownloadButtonShown"> DOWNLOAD </ng-container>
      <ng-container *ngIf="!isDownloadButtonShown">
        <mat-spinner style="zoom: 0.2"></mat-spinner>
      </ng-container>
    </button>
  </div>
</div>
