.about-container {
  width: 90%;
  padding: 30px;
  margin: auto auto;
  overflow: hidden;
}

.table-wrapper {
  width: 100%;
  overflow: scroll;

  .data-source-table {
    border-collapse: collapse;
    thead {
      border-bottom: 1px solid white;
    }
    th,
    td {
      padding: 10px;
    }
  }
}
