<div class="about-container">
  <h2>ABOUT</h2>

  <h3>CATCH Overview</h3>

  <p>
    The Comet-Asteroid Telescopic Catalog Hub (CATCH) is a moving-target search
    tool for large astronomical data sets, such as time-domain or near-Earth
    object surveys. CATCH solves the needle in the haystack problem: comets and
    asteroids are the needles, and the archives of survey data are the
    haystacks.
  </p>

  <p>
    <em>Use CATCH to help identify pre-discovery detections, to examine past
      cometary activity, or to help you understand why a survey did not detect or
      report observations of an object.</em>
  </p>

  <p>Provide the name of an asteroid or comet, and for each indexed data set
    CATCH will:</p>
  <ol>
    <li>Request an ephemeris for that object from
      NASA JPL's <a href="https://ssd.jpl.nasa.gov/horizons/">Horizons System</a>.</li>

    <li>Query the CATCH database for data near the ephemeris.</li>

    <li>Test each approximate match for detailed intersection.</li>

    <li>Return all positive matches with target and observational metadata.</li>
  </ol>

  <h3>Capabilities</h3>
  <ul>
    <li>Results are presented in the browser, complete with image cutouts around
      the query target (when available).</li>

    <li>Backed by a publicly accessible API.</li>

    <li>Searches all near-Earth object survey data archived with NASA's
      Planetary Data System, and potentially any publicly hosted data archive
      could be included.</li>

    <li>Search results are cached and may be quickly retrieved thereafter, or
      refreshed with a new query.</li>

    <li>Queries may optionally search an area around the ephemeris: either an
      arbitrary radius, or using the ephemeris uncertainty ellipse (when
      available).</li>

    <li>Pixel-level precision is possible, depending on the metadata quality of
      the survey data or observation in question.</li>
  </ul>

  <p>For a summary of CATCH's techniques, see <a
      href="https://www.youtube.com/watch?v=wkqoUXds26U?start=18824"><em>CATCHing
        Near-Earth Objects in Archival Survey Data</em></a> a talk given by
    M.&nbsp;Kelley, D.&nbsp;Darg, and J.&nbsp;Bauer to the 7th IAA Planetary
    Defense Conference (2021 Apr 27):</p>

  <iframe allowfullscreen="" frameborder="0" height="315" width="420"
    src="https://www.youtube.com/embed/wkqoUXds26U?start=18824"></iframe>

  <h3>Data sources</h3>
  <table class="data-source-table">
    <thead>
      <tr>
        <th>Survey</th>
        <th>Site</th>
        <th>Dates (UTC)</th>
        <th>Nights</th>
        <th>Images</th>
        <th>Pixel scale (arcsec)</th>
        <th>
          Field of view
          <sup>a</sup>
          (deg<sup>2</sup>)
        </th>
        <th>Filters</th>
        <th>Limiting magnitude</th>
        <th>Archived at</th>
        <th>References</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Catalina Sky Survey</td>
        <td>Mt. Bigelow (703, V06)</td>
        <td>January 2020 &ndash; December 2022<sup>c</sup></td>
        <td>717<sup>c</sup></td>
        <td>635,557<sup>c</sup></td>
        <td>2.5 or 3.0 (703), 0.6 (V06)</td>
        <td>8.1 or 19.4 (703), 0.03 (V06)</td>
        <td>None</td>
        <td></td>
        <td><a href="https://sbn.psi.edu/pds/resource/css.html">PDS SBN</a></td>
        <td><a href="https://doi.org/10.26033/80fq-dn90">Seaman et al. 2022</a></td>
      </tr>
      <tr>
        <td>Catalina Sky Survey</td>
        <td>Mt. Lemmon (G96, I52)</td>
        <td>January 2020 &ndash; December 2022<sup>c</sup></td>
        <td>764<sup>c</sup></td>
        <td>958,451<sup>c</sup></td>
        <td>1.0 or 1.5 (G96), 1.0 (I51)</td>
        <td>1.2 or 5.0 (G96), 0.3 (I52)</td>
        <td>None</td>
        <td></td>
        <td><a href="https://sbn.psi.edu/pds/resource/css.html">PDS SBN</a></td>
        <td><a href="https://doi.org/10.26033/80fq-dn90">Seaman et al. 2022</a></td>
      </tr>
      <tr>
        <td>NEAT GEODSS</td>
        <td>Haleakala Observatory (566)</td>
        <td>April 1996 &ndash; May 1998</td>
        <td>147</td>
        <td>36,099</td>
        <td>1.43</td>
        <td>2.7</td>
        <td>None</td>
        <td>V~19</td>
        <td><a href="https://sbn.psi.edu/pds/resource/neat.html">PDS SBN</a></td>
        <td>
          <a href="https://doi.org/10.26033/xkmy-me08">Bauer and Lawrence 2013</a>,
          <a href="https://ui.adsabs.harvard.edu/abs/1999AJ....117.1616P">Pravdo et al. 1999</a>
        </td>
      </tr>
      <tr>
        <td>NEAT Palomar Tri-Cam</td>
        <td>Palomar Observatory (644)</td>
        <td>November 2001 &ndash; March 2003</td>
        <td>150</td>
        <td>131,389</td>
        <td>1.01</td>
        <td>1.3</td>
        <td>None</td>
        <td>V~20</td>
        <td><a href="https://sbn.psi.edu/pds/resource/neat.html">PDS SBN</a></td>
        <td>
          <a href="https://doi.org/10.26033/xkmy-me08">Bauer and Lawrence 2013</a>,
          <a href="https://ui.adsabs.harvard.edu/abs/2016AJ....151...80T">Tricarico 2016</a>
        </td>
      </tr>
      <tr>
        <td>Pan-STARRS 1 (DR2)</td>
        <td>Haleakala Observatory (F51)</td>
        <td>June 2009 &ndash; February 2015</td>
        <td>1438</td>
        <td>17,558,049<sup>b</sup></td>
        <td>0.25<sup>b</sup></td>
        <td>24×24<sup>b</sup></td>
        <td>grizy</td>
        <td>r~21.8</td>
        <td><a href="https://outerspace.stsci.edu/display/PANSTARRS/">STScI</a></td>
        <td>
          <a href="https://outerspace.stsci.edu/display/PANSTARRS/">Pan-STARRS1 data archive</a>,
          <a href="https://arxiv.org/abs/1612.05560">Chambers et al. 2016</a>,
          <a href="https://ui.adsabs.harvard.edu/abs/2020ApJS..251....4W/abstract">Waters et al. 2020</a>,
          <a href="https://ui.adsabs.harvard.edu/abs/2020ApJS..251....6M/abstract">Magnier et al. 2020</a>
        </td>
      </tr>
      <tr>
        <td>SkyMapper Southern Survey (DR2)</td>
        <td>Siding Spring Observatory (413)</td>
        <td>March 2014 &ndash; March 2018</td>
        <td>799</td>
        <td>3,727,026</td>
        <td>0.5</td>
        <td>0.16</td>
        <td>uvgriz</td>
        <td>
          shallow survey~19,
          <br />
          main survey~20&ndash;22
        </td>
        <td><a href="https://skymapper.anu.edu.au/">Australian National University</a></td>
        <td>
          <a href="https://ui.adsabs.harvard.edu/abs/2018PASA...35...10W">Wolf et al. 2018</a>,
          <a href="https://ui.adsabs.harvard.edu/abs/2019PASA...36...33O">Onken et al. 2019</a>
        </td>
      </tr>
      <tr>
        <td>Spacewatch 0.9-m Mosaic Camera Survey</td>
        <td>Steward Observatory, Kitt Peak (691)</td>
        <td>March 2003 &ndash; December 2016</td>
        <td>2413</td>
        <td>1,808,157</td>
        <td>1.0</td>
        <td>0.35</td>
        <td>Schott OG-515</td>
        <td>V~21.7</td>
        <td><a href="https://sbn.psi.edu/pds/resource/sw.html">PDS SBN</a></td>
        <td><a href="https://doi.org/10.26033/vg18-0670">Brucker et al. 2022</a></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="11">
          <sup>a</sup>Field of view of a single data product.
        </td>
      </tr>
      <tr>
        <td colspan="11">
          <sup>b</sup>The Pan-STARRS 1 search is based on the archived "<a
            href="https://outerspace.stsci.edu/display/PAN-STARRS/PS1+Sky+tessellation+patterns">skycell</a>" images.
        </td>
      </tr>
      <tr>
        <td colspan="11">
          <sup>c</sup>This archive is accumulating data with time. Archive statistics were updated on 2023
          Mar 01. <a href="#">Current statistics for CATCH holdings</a> are available via the CATCH API.
        </td>
      </tr>
    </tfoot>
  </table>
  <hr />

  <h3>CATCH Limitations and Caveats</h3>
  <p>
    CATCH does not perform detection-based searches. i.e., it cannot determine
    if an object was observed. Rather, it identifies images that
    <em>could</em>
    have observed a target, based on the target's ephemeris. This search also
    requires that the ephemeris correctly describes the target's motion on the
    sky, and that a potentially matching observation is correctly described by
    its metadata. Known issues are given below.
  </p>

  <h3>Known issues</h3>
  <ol>
    <li>NEAT astrometric solutions are typically 10s of arcsec off.</li>

    <li>Cutout services are not yet available for NEAT, Catalina Sky Survey, or
      Spacewatch.</li>

    <li>Target name resolution: our name resolution service is incomplete. Some real target
      names may not be resolved. However, CATCH can still attempt to search for
      them. Ultimately, any target must be resolvable by
      <a href="https://ssd.jpl.nasa.gov/horizons/">Horizons</a>. Use JPL's
      <a href="https://ssd.jpl.nasa.gov/tools/sbdb_lookup.html">Small-Body Database Lookup</a>
      to test object names that are not working. Take care when searching for
      fragmented comets (e.g., 73P vs. 73P-C).
    </li>

    <li>Searches only include dates when an object is brighter than V=25 mag, as
      predicted by the ephemeris generator. Contact us if this limit is affecting
      your work.</li>
  </ol>

  <h3>Updates</h3>
  <ul>
    <li><b>2023 Mar 15</b>: (v2) A new search technique enables areal searches (padding or uncertainty ellipse). Search
      by source now allowed. New
      data sources: Spacewatch, Catalina Sky Survey Archive, PanSTARRS1 DR2. API updated to v2.</li>
    <li><b>2020 Nov 12</b>: (v1) First release to the public.</li>
  </ul>

  <h3>Acknowledgements</h3>
  <p>
    This software is built entirely with open-source resources, and so we thank
    all of the authors in the JS/python community. Special thanks to Eric Mandel
    for building the
    <a href="https://js9.si.edu/">JS9 fits-file viewer</a>
    and for his assistance in integrating it into this
    <a href="https://en.wikipedia.org/wiki/Angular_(web_framework)">angular</a>
    <a href="https://en.wikipedia.org/wiki/Single-page_application">SPA</a>
    .
  </p>

  <h3>Acceptable Usage of Site</h3>

  <p>
    CATCH is a service built and operated by the
    <a href="https://pds-smallbodies.astro.umd.edu/">Small Bodies Node</a>
    of the
    <a href="https://pds.nasa.gov/">NASA Planetary Data System</a>
    group at the
    <a href="https://www.umd.edu/">University of Maryland</a>
    . You are welcome to use the tool for research and educational purposes. By
    using this tool, you agree to our
    <a routerLink="/terms">terms and conditions</a>
    .
  </p>
  {{ xxx() }}
</div>