<div class="streaming-messages-overlay">
  <div class="api-streaming-shade"></div>

  <div class="api-streaming-message">
    @for(msg of msgs; track msg){
    <div class="label-row">
      {{ msg }}
    </div>
    }
    <div
      class="label-row"
      style="color: rgba(255, 255, 255, 0.51)"
      *ngFor="let source of sources"
    >
      {{ "> " + source }}
    </div>

    <div class="label-row" style="color: #7e8bff">
      {{ streamingMessage }}
    </div>

    <div class="progress-bar-wrapper">
      <mat-progress-bar mode="query"></mat-progress-bar>
    </div>
  </div>
</div>
