.desktop-view-container {
  $bgcolor: rgba(255, 255, 255, 0.15);

  background-color: $bgcolor;

  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;

  display: grid;
  grid-gap: 5px;
  grid-template-rows: 1fr 6fr auto;

  &.moving {
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "fitsjpgtoggler   title   "
      "fitsjpgtoggler   table   "
      "solarviewer      table   ";
  }

  &.fixed {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title            table   "
      "fitsjpgtoggler   table   "
      "fitsjpgtoggler   table   ";
  }

  //
  grid-auto-flow: dense;
  // overflow: hidden;

  .title-wrapper,
  .table-wrapper,
  .fits-jpg-toggler-wrapper,
  .solar-viewer-wrapper {
    min-width: 0; // Prevents content from expanding the grid
    min-height: 0; // Prevents content from expanding the grid
    overflow: hidden; // Clips any overflowing content
  }

  .title-wrapper {
    position: relative;
    grid-area: title;
    font-size: 32px;
    font-weight: bold;
    min-height: 30px; // Added minimum height
    // background-color: $bgcolor;
    // background-color: black;
  }

  .table-wrapper {
    grid-area: table;
    // background-color: black;
    // background-color: $bgcolor;
    min-width: 200px; // Added minimum width
  }

  .fits-jpg-toggler-wrapper {
    grid-area: fitsjpgtoggler;
    background-color: $bgcolor;
    // aspect-ratio: 1 / 1;
    // min-width: 300px;
    // min-height: 300px;
    // width: 400px;
    // height: 400px;
    // max-width: 300px;
    // max-height: 300px;
  }

  .solar-viewer-wrapper {
    // background-color: red;
    grid-area: solarviewer;
    // background-color: black;
    // max-height: 400px;
  }
}
