@import '../../../styles/variables';

:host {
  display: block;
  min-height: 100%;
  color: var(--mat-sys-on-surface);
}

.dashboard-container {
  width: $page-width;
  padding: $page-padding;
  margin: $page-margin;
  max-width: $page-max-width;
}
