<mat-toolbar class="main-mat-toolbar" color="primary">
  <div class="not-showing-side-nav">
    <ul class="links-in-header">
      <li (click)="_delayedRouting('home')">
        <span style="font-size: 30px;">CATCH</span>
      </li>
      <li (click)="_delayedRouting('apis')">
        APIs
      </li>

      <li (click)="_delayedRouting('about')">
        About
      </li>
      <li (click)="_delayedRouting('contact')">
        Contact
      </li>
    </ul>

    <div class="spacer">
      This div will use up in-between space and this text won't be seen
    </div>

    <button mat-icon-button (click)="_delayedRouting('settings')">
      <fa-icon icon="cog" [fixedWidth]="true"></fa-icon>
    </button>
  </div>

  <div class="showing-side-nav">
    <button matRipple mat-icon-button (click)="_openSidenav()">
      <fa-icon icon="bars" [fixedWidth]="true"></fa-icon>
    </button>

    <div class="spacer">
      This div will use up in-between space and this text won't be seen
    </div>

    <div class="title" (click)="_delayedRouting('home')">
      <span style="font-size: 30px;">CATCH</span>
    </div>

    <div class="spacer">
      This div will use up in-between space and this text won't be seen
    </div>

    <button mat-icon-button (click)="_delayedRouting('settings')">
      <fa-icon icon="cog" [fixedWidth]="true"></fa-icon>
    </button>
  </div>
</mat-toolbar>
