@use "sass:map";
@use "@angular/material" as mat;

@mixin app-styles-reset-theme($theme) {
  $primary: mat.get-theme-color($theme, primary);
  $accent: mat.get-theme-color($theme, error);
  $foreground: mat.get-theme-color($theme, on-surface);

  a {
    // color: mat.get-color-from-palette($primary, default-contrast);
    // color: map.get($primary, default-contrast);
    color: $primary;

    &:hover {
      // color: mat.get-color-from-palette($accent);
      color: $accent;
      text-decoration: none;
    }
  }

  code {
    // color: mat.get-color-from-palette($accent, lighter-contrast);
    color: $accent;
    // background-color: mat.get-color-from-palette($accent, lighter);
    background-color: $accent;
  }

  p {
    a {
      // color: mat.get-color-from-palette($accent);
      color: $accent;

      &:hover {
        // color: mat.get-color-from-palette($accent, darker);
        color: $accent;
      }
    }
  }
}
