@use "@angular/material" as mat;

@mixin app-styles-reset-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map-get($color-config, primary);
  $accent: map-get($color-config, accent);
  $foreground: map-get($color-config, foreground);

  a {
    color: mat.get-color-from-palette($primary, default-contrast);

    &:hover {
      color: mat.get-color-from-palette($accent);
      text-decoration: none;
    }
  }

  code {
    color: mat.get-color-from-palette($accent, lighter-contrast);
    background-color: mat.get-color-from-palette($accent, lighter);
  }

  p {
    a {
      color: mat.get-color-from-palette($accent);

      &:hover {
        color: mat.get-color-from-palette($accent, darker);
      }
    }
  }
}
