<div class="table-container mat-elevation-z8">
  <div class="table-footer">
    <div class="form-field-wrapper">
      <mat-form-field appearance="outline">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #input />
      </mat-form-field>
    </div>
    <div class="paginator-wrapper">
      <mat-paginator
        [length]="allApiData?.length || 0"
        [pageSizeOptions]="pageSizeOptions"
        [pageSize]="pageSize"
        (page)="onPaginateChange($event)"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>

  <div class="gap">
    <!--  -->
  </div>

  <div class="table-wrapper mat-elevation-z8" #tableContainerDiv>
    <table mat-table [dataSource]="dataSource || []" matSort>
      <!--  -->

      <!-- Checkbox Column -->
      <ng-container [matColumnDef]="'download_checkboxes'" [sticky]="true">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            color="accent"
            [checked]="isDownloadAllCheckboxChecked"
            [indeterminate]="isDownloadAllCheckboxIndeterminate"
            (change)="clickDownloadAllCheckbox()"
            matTooltip="Select/deselect all for download"
          >
          </mat-checkbox>
        </th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          [ngClass]="{ 'highlighted-sticky-cell': isRowSelected(element) }"
          (click)="selectRowDatum(i)"
        >
          <mat-checkbox
            color="accent"
            [checked]="isRowChecked(element)"
            (change)="updateDownloadRowCheckbox(element, $event)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- THUMBNAIL COL -->
      <ng-container [matColumnDef]="'preview_url'" [sticky]="true">
        <th mat-header-cell *matHeaderCellDef matTooltip="Select table columns">
          <button
            mat-button
            (click)="openSettingsDialog($event)"
            style="color: white"
          >
            <mat-icon mat-list-icon> settings </mat-icon>
          </button>
        </th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          [ngClass]="{ 'highlighted-sticky-cell': isRowSelected(element) }"
          (click)="selectRowDatum(i)"
        >
          <!-- @if(isRowDisplayed(element)){ -->
          <app-table-thumbnail
            [input]="element"
            [isPriority]="isRowSelected(element)"
            [label]="(isRowSelected(element) ? '*' : '') + 'T' + i"
            (onLoadEventMessage)="rerenderTable()"
          ></app-table-thumbnail>
          <!-- } @else { -->
          <!-- <div>Placeholder</div> -->
          <!-- } -->
        </td>
      </ng-container>

      <!-- SOURCE NAME COL  -->
      <ng-container [matColumnDef]="'source_name'" [sticky]="true">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          matTooltip="Survey collection"
        >
          {{ "SOURCE" }}
        </th>
        <td
          mat-cell
          *matCellDef="let row; let i = index"
          [ngClass]="{ 'highlighted-sticky-cell': isRowSelected(row) }"
          (click)="selectRowDatum(i)"
        >
          {{ getSourceName(row.source_name) }}
        </td>
      </ng-container>

      <!-- LOOP: through each key in the array of column keys -->
      @for (key of shownHideableCols; track key) {
      <ng-container [matColumnDef]="key">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [matTooltip]="getTooltip(key)"
        >
          <span>
            {{ getColLabel(key) | titlecase }}
          </span>

          @for (graphCol of [ 'ra', 'delta', 'rh', 'phase', 'tmtp',
          'trueanomaly' ]; track graphCol) {
          <!--  -->

          @if(graphCol === key){
          <span
            class="small-plotly-wrapper"
            (click)="onClickPlotly($event, graphCol)"
          >
            <app-plotly-graph
              [inputPlotlyParams]="{ xDataKey: graphCol, isMiniMode: true }"
            ></app-plotly-graph>
          </span>
          } @else {
          <span> </span>
          }
          <!--  -->
          }
        </th>
        <td
          mat-cell
          *matCellDef="let row; let i = index"
          [ngClass]="{ 'highlighted-non-sticky-cell': isRowSelected(row) }"
          (click)="selectRowDatum(i)"
        >
          {{ formatCellEntry(key, row[key]) }}
        </td>
      </ng-container>
      }

      <!-- These rows are needed; I assume that the above defns get injected into these rows somehow  -->
      <tr mat-header-row *matHeaderRowDef="allShownCols; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: allShownCols"
        (keydown)="keyPress($event)"
        tabindex="0"
      ></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="shownHideableCols.length">
          <!-- No data matching the filter "{{ input.value }}" -->
          No data matching the filter
        </td>
      </tr>
    </table>
  </div>
</div>
