<div
  class="title-bar-container"
  [ngClass]="{
    isMobile: isMobile
  }"
>
  <div class="title">
    {{ "TARGET: " }}
    &nbsp;
    <span>
      {{ (target ? target : "") + " " }}
    </span>
  </div>

  <div class="results">
    {{ "RESULTS: " }}
    &nbsp;
    <span>
      {{ (rowsInTable ? rowsInTable : "") + " " }}
    </span>
  </div>

  <div class="jobid">
    {{ " JOB: " }}
    &nbsp;
    <a [href]="dataLink" target="_blank">
      {{ " " + getJobId() }}
    </a>

    <div class="download-button-wrapper">
      <button
        class="download-button"
        mat-button
        (click)="downloadData()"
        matTooltip="Download Selected Data"
        [disabled]="isDownloadButtonDisabled()"
      >
        <ng-container *ngIf="!!isDownloadButtonShown">
          <mat-icon>download</mat-icon>
        </ng-container>
        <ng-container *ngIf="!isDownloadButtonShown">
          <mat-spinner style="zoom: 0.2"></mat-spinner>
        </ng-container>
      </button>
    </div>
  </div>
</div>
