@if ( apiData) {
<div class="layout-container" [ngClass]="movingOrFixed" [ngStyle]="containerStyle">
  <div class="title-wrapper mat-elevation-z8">
    <app-title-data></app-title-data>
  </div>
  <div class="table-wrapper">
    <app-table-data></app-table-data>
  </div>
  <div class="fits-jpg-toggler-wrapper">
    <app-fits-jpg-toggler></app-fits-jpg-toggler>
  </div>
  <div class="solar-viewer-wrapper">
    <app-solar-viewer></app-solar-viewer>
  </div>
</div>
} @else {
<div class="no-data">
  {{ 'The data did not load properly! Please contact admin.' }}
</div>
}
