/*
  For styling forms, see:
  https://material.angular.io/components/form-field/overview
*/

div.search-field-container {
  position: relative;
  height: 100%;
  max-height: 100%;
  // background-color: green;

  mat-raised-button {
    height: 20px;
  }

  form.basic-search-form {
    position: relative;
    width: 100%;
    margin: auto auto;
    position: relative;
    display: flex;
    // background-color: green;

    mat-form-field {
      width: 100%;
      position: relative;
      box-sizing: border-box;
      padding: 0px;

      mat-autocomplete {
        .name-search-result {
          width: 50%;
          border: 1px rgba(100, 100, 100, 1) solid;
          padding: 5px;
          border-radius: 5px;
          font-family: "Lucida Console", Monaco, monospace;
        }
      }

      .search-button {
        margin-right: 4px;
        transform: translateY(-3px);
        & button {
          background-color: rgba(white, 0.1);
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          mat-icon {
            animation: fadeIn 300ms ease-in-out;
          }
        }
      }
      .shift {
        // transform: translate(8px, -8px);
        // height: 30px;
      }
    }

    .advanced-controls-button-wrapper {
      position: relative;
      width: 58px;
      .advanced-controls-button {
        position: absolute;
        top: 9px;
        left: 9px;
        background-color: rgba(white, 0.1);
      }
    }
  }

  form.advanced-search-form {
    // Params chosen so that advanced controls efficiently occupy space between
    // basic controls and footer without pushing homepage down
    $advancedControlsHeightParam: 70px;
    $advancedControlsHeightOffset: -15px;
    position: relative;
    height: 350px;
    max-height: calc(100% - #{$advancedControlsHeightParam});
    transform: translateY($advancedControlsHeightOffset);

    .advanced-search-controls {
      // background-color: cyan;
      border: 1px rgba(255, 255, 255, 0.4) solid;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 10px;
      position: absolute;
      top: 0px;
      // bottom: 0px;
      left: 0px;
      right: 0px;
      overflow-y: scroll;
      transition: bottom 300ms ease-in-out, opacity 300ms ease-in-out;

      .data-sources-title {
        // margin-bottom: 10px;
      }

      .checkbox-grid {
        // background-color: red;
        padding: 10px 0px;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        // grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        font-size: 11px;
        div {
          padding-left: 0px;
        }
      }

      .info-checkbox-wrapper {
        // background-color: aqua;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .icon-wrapper {
          // background-color: pink;
          margin-right: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .padding-field-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: red;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
