<div class="search-field-container" [formGroup]="formGroup">
  <!-- Layout consists of 3 form-wrapping rows: upper, middle, lower -->

  <div class="upper-form-wrapper">
    <mat-form-field appearance="outline" class="search-full-width">
      <mat-label>{{ getSearchMessageText() }}</mat-label>

      <input
        matInput
        type="text"
        [placeholder]="getPlaceholderText()"
        aria-label="Name of the object to be matched"
        [formControlName]="getFormControlKey('search_field_control')"
        [matAutocomplete]="auto"
        #trigger="matAutocompleteTrigger"
        [ngStyle]="getInputTextColor()"
        (keydown)="keyDownOnUpperFormInputText($event)"
      />
      <mat-autocomplete #auto="matAutocomplete">
        @if(isMovingTarget){
        <!--  -->
        @for (option of objectNameMatchResults; track option) {
        <mat-option [value]="option.target">
          <span class="name-search-result">
            {{ optionToText(option) + '' }}
          </span>
        </mat-option>
        }
        <!--  -->
        }@else{
        <!--  -->
        @for (fixedTarget of fixedTargets; track fixedTarget) {
        <mat-option [value]="fixedTarget.coords">
          <span class="name-search-result">
            {{ fixedTarget.text }}
          </span>
        </mat-option>
        }
        <!--  -->
        }
      </mat-autocomplete>

      @if(isSearchFieldError()){
      <mat-error>{{ errorMessage }}</mat-error>
      }

      <!--  -->

      @if(!isMovingTarget){
      <mat-hint>
        {{ "'HH:MM:SS DD:MM:SS'" }}
      </mat-hint>
      }

      <!--  -->

      @if(isSearchButtonDisabled()){
      <mat-icon matSuffix>search</mat-icon>
      } @else {
      <button
        class="search-button"
        [disabled]="isSearchButtonDisabled()"
        mat-raised-button
        matSuffix
        aria-label="Button to start searching names"
        (click)="submitObjectNameMatch($event)"
        [ngStyle]="getSearchButtonStyle()"
      >
        <span style="font-size: 12px">START</span>
      </button>
      }
    </mat-form-field>
  </div>

  <!--  -->

  <div class="middle-form-wrapper">
    <div class="toggle-group-wrapper">
      <mat-button-toggle-group
        name="fontStyle"
        aria-label="Font Style"
        [formControlName]="getFormControlKey('toggle_moving_vs_fixed_control')"
      >
        <mat-button-toggle value="moving" appearance="legacy">Moving Target</mat-button-toggle>
        <mat-button-toggle value="fixed">Fixed Target</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="show-advanced-controls-button-wrapper">
      <button
        class="show-advanced-controls-button"
        mat-fab
        matSuffix
        aria-label="Button to start searching names"
        (click)="toggleAdvancedControls()"
      >
        <mat-icon>tune</mat-icon>
      </button>
    </div>
  </div>

  <!--  -->

  <div class="lower-form-wrapper">
    <div class="advanced-search-controls-wrapper">
      <div
        class="advanced-search-controls"
        *ngIf="true || isAdvancedControls"
        [ngStyle]="{
          bottom: isAdvancedControls ? '0%' : '100%',
          opacity: isAdvancedControls ? 1 : 0
        }"
      >
        <!--  -->

        <div class="data-sources-title">Data Sources</div>

        <div class="checkbox-grid">
          @for (source of sources; track source) {
          <div class="icon-checkbox-wrapper">
            <mat-icon [matTooltip]="toolTipText[source]">info</mat-icon>
            <mat-checkbox [formControlName]="getFormControlKey(source)">{{
              formControlLabels[source]
            }}</mat-checkbox>
          </div>
          }

          <div class="icon-checkbox-wrapper">
            <mat-icon [matTooltip]="toolTipText['select_all_sources_control']">info</mat-icon>
            <mat-checkbox
              class="select-all-sources-checkbox"
              [formControlName]="getFormControlKey('select_all_sources_control')"
            >
              <span [ngStyle]="{ color: getSelectAllSourcesLabelColor() }">
                {{ getSelectAllSourcesLabel() }}
              </span>
            </mat-checkbox>
          </div>
        </div>

        <hr />

        <div class="checkbox-grid">
          <div class="icon-checkbox-wrapper">
            <mat-icon [matTooltip]="toolTipText['use_cached_results_control']">info</mat-icon>
            <mat-checkbox [formControlName]="getFormControlKey('use_cached_results_control')"
              >Use Cached Results</mat-checkbox
            >
          </div>

          <div class="icon-checkbox-wrapper">
            <mat-icon [matTooltip]="toolTipText['uncertainty_ellipse_control']">info</mat-icon>
            <mat-checkbox [formControlName]="getFormControlKey('uncertainty_ellipse_control')"
              >Uncertainty Ellipse</mat-checkbox
            >
          </div>
        </div>

        <hr />

        @if(!isMovingTarget){

        <div class="intersection-type-wrapper input-wrapper" style="width: 100%">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Select</mat-label>
            <mat-select [formControlName]="getFormControlKey('intersection_type_input_control')">
              @for (intersectionType of intersectionTypes; track intersectionType) {
              <mat-option [value]="intersectionType">{{
                intersectionTypeLabels[intersectionType]
              }}</mat-option>
              }
            </mat-select>
            <mat-icon matSuffix [matTooltip]="toolTipText['intersection_type_input_control']"
              >info</mat-icon
            >
          </mat-form-field>
        </div>
        }

        <div class="start-time-wrapper input-wrapper" style="width: 100%">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Start Time </mat-label>
            <input
              matInput
              appearance="outline"
              placeholder=""
              [formControlName]="getFormControlKey('start_time_input_control')"
            />
            <mat-icon matSuffix [matTooltip]="toolTipText['start_time_input_control']"
              >info</mat-icon
            >
          </mat-form-field>
        </div>

        <div class="stop-time-wrapper input-wrapper" style="width: 100%">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Stop Time </mat-label>
            <input
              matInput
              appearance="outline"
              placeholder=""
              [formControlName]="getFormControlKey('stop_time_input_control')"
            />
            <mat-icon matSuffix [matTooltip]="toolTipText['stop_time_input_control']"
              >info</mat-icon
            >
            <mat-hint>{{
              'Date format: YYYY-MM-DD HH:MM:SS.sss, all fields
            optional'
            }}</mat-hint>
          </mat-form-field>
        </div>

        <!--  -->
        @if(isMovingTarget){
        <div class="padding-field-wrapper input-wrapper" style="width: 100%">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Extra Padding </mat-label>
            <input
              matInput
              placeholder="0"
              [formControlName]="getFormControlKey('padding_input_control')"
            />
            <mat-icon matSuffix [matTooltip]="toolTipText['padding_input_control']">info</mat-icon>
            <mat-hint>arcmins</mat-hint>
          </mat-form-field>
        </div>
        } @else{
        <!--  -->

        <div class="radius-field-wrapper input-wrapper" style="width: 100%">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Radius </mat-label>
            <input
              matInput
              placeholder="0"
              [formControlName]="getFormControlKey('radius_input_control')"
            />
            <mat-icon matSuffix [matTooltip]="toolTipText['radius_input_control']">info</mat-icon>
            <mat-hint>arcmins</mat-hint>
          </mat-form-field>
        </div>
        <!--  -->
        }

        <!--  -->
      </div>
    </div>
  </div>
</div>
