<div
  class="table-container mat-elevation-z8"
  tabindex="0"
  #tableContainerDiv
  (click)="onTableClick()"
>
  <table
    mat-table
    matSort
    *ngIf="tableData"
    [dataSource]="tableData"
    class="data-table"
  >
    <!-- CHECKBOX COL -->
    <ng-container
      [matColumnDef]="'download_checkboxes'"
      [sticky]="isFirstFewColsSticky()"
    >
      <th mat-header-cell *matHeaderCellDef>
        <div class="checkbox-wrapper cell-container">
          <mat-checkbox
            color="accent"
            [checked]="isSelectAllDownloadRowCheckboxChecked"
            (change)="selectAllDownloadRowCheckbox()"
            matTooltip="Select/deselect all for download"
          >
          </mat-checkbox>
        </div>
      </th>
      <td
        mat-cell
        *matCellDef="let element; let i = index"
        [ngClass]="{ 'highlighted-sticky-cell': isRowSelected(element) }"
      >
        <div class="checkbox-wrapper cell-container">
          <mat-checkbox
            color="accent"
            [checked]="isRowChecked(element)"
            (change)="updateDownloadRowCheckbox(element, $event)"
          >
          </mat-checkbox>
        </div>
      </td>
    </ng-container>

    <!-- THUMBNAIL COL -->
    <ng-container
      [matColumnDef]="'preview_url'"
      [sticky]="isFirstFewColsSticky()"
    >
      <th mat-header-cell *matHeaderCellDef>
        <div class="thumbnail-wrapper cell-container">
          <button mat-button (click)="openSettingsDialog($event)">
            <fa-icon icon="cog" [fixedWidth]="true"></fa-icon>
          </button>
        </div>
      </th>
      <td
        mat-cell
        *matCellDef="let element; let i = index"
        (click)="selectRowDatum(i)"
        [ngClass]="{ 'highlighted-sticky-cell': isRowSelected(element) }"
      >
        <div class="thumbnail-wrapper cell-container">
          <img [src]="getThumbnailUrl(element.preview_url)" />
        </div>
      </td>
    </ng-container>

    <!-- SOURCE_NAME COL -->
    <ng-container
      [matColumnDef]="'source_name'"
      [sticky]="isFirstFewColsSticky()"
    >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div class="source-name-wrapper cell-container">
          {{ "SOURCE" }}
        </div>
      </th>
      <td
        mat-cell
        *matCellDef="let element; let i = index"
        (click)="selectRowDatum(i)"
        [ngClass]="{ 'highlighted-sticky-cell': isRowSelected(element) }"
      >
        <div class="source-name-wrapper cell-container">
          {{ getSourceName(element.source_name) }}
        </div>
      </td>
    </ng-container>

    <!-- LOOP-REMAINING COL -->
    <ng-container
      [sticky]="false"
      *ngFor="let col of shownCols; let j = index"
      [matColumnDef]="col"
    >
      <th
        mat-header-cell
        *matHeaderCellDef
        [matTooltip]="
          (apiDataLabels![col] && apiDataLabels[col]!.description) || ''
        "
        mat-sort-header
      >
        <div class="looped-cell cell-container">
          <div class="text-wrapper">
            {{ apiDataLabels![col] && apiDataLabels[col]!.label }}
          </div>

          <!-- HEADER GRAPHS -->
          <ng-container
            *ngFor="
              let graphCol of [
                'ra',
                'delta',
                'rh',
                'phase',
                'tmtp',
                'trueanomaly'
              ]
            "
          >
            <div
              *ngIf="graphCol === col"
              class="graph-wrapper"
              (click)="onClickPlotly($event, col)"
            >
              <div class="graph-wrapper-cover"></div>
              <app-plotly-graph
                [inputPlotlyParams]="{ xDataKey: col, isMiniMode: true }"
              ></app-plotly-graph>
            </div>
          </ng-container>
        </div>
      </th>
      <td
        mat-cell
        *matCellDef="let element; let i = index"
        (click)="selectRowDatum(i)"
        [ngClass]="{ 'highlighted-non-sticky-cell': isRowSelected(element) }"
        [matTooltip]="element[col] || ''"
      >
        <div class="looped-cell cell-container">
          <!-- {{ element[col] }} -->
          {{ formatCellEntry(element[col], apiDataLabels![col]) }}
        </div>
      </td>
    </ng-container>

    <tbody>
      <tr mat-header-row *matHeaderRowDef="getAllCols(); sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: getAllCols()"
        (keydown)="keyPress($event)"
        tabindex="0"
      ></tr>
    </tbody>
  </table>
</div>
