// Include the common styles for Angular Material
@use "@angular/material" as mat;

@include mat.elevation-classes();
@include mat.app-background();

// .mat-tooltip-trigger {
//   touch-action: auto !important;
//   background-color: pink;
// }

/* 3rd PARTY IMPORTS */

@import "normalize-scss/sass/normalize";

/* GLOBAL IMPORTS */

@import "styles-variables";
// @use "styles-variables" as *;
@import "styles-hack";
@import "styles-reset";
@import "styles-reset.scss-theme";
@import "styles-router-children";

/* MATERIAL THEMING */
/* MATERIAL THEMING */

// Import theme-dependent mixins for customizing components
@import "./styles-reset.scss-theme";
// @import "../app/components/app-entry/app-entry.component.scss-theme";
@import "../app/app-entry/app-entry.component.scss-theme.scss";
@import "../app/components/header/header.component.scss-theme";
// @import "../app/components/search-field/search-field.component.scss-theme";
@import "../app/data-display/table-1/table-1.component.scss-theme.scss";

// Define mixin that implements all custom-component theme-dependent mixins
@mixin custom-components-theme($theme) {
  @include app-styles-reset-theme($theme);
  @include app-entry-component-theme($theme);
  @include app-header-component-theme($theme);
  @include app-search-field-component-theme($theme);
  @include app-data-table-component-theme($theme);
}

// Import individual $theme maps
@import "themes/dark-theme-blue"; // $app-dark-theme
@import "themes/light-theme"; // $app-light-theme

// Apply themes
.dark-theme {
  @include mat.all-component-themes($app-dark-theme);
  @include custom-components-theme($app-dark-theme);
}

.light-theme {
  @include mat.all-component-themes($app-light-theme);
  @include custom-components-theme($app-light-theme);
}

////////////////////////////////
////////////////////////////////
////////////////////////////////
// GLOBAL ANIMATIONS ///////////
////////////////////////////////
////////////////////////////////
////////////////////////////////

@keyframes pageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes pageFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-25px);
  }
}

// Misc global stuff
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
