@use "@angular/material" as mat;

// Define color palettes using the new color system
$success-colors: mat.$green-palette;
$warning-colors: mat.$yellow-palette;

// Note: 414px for iPhone XR
$grid-breakpoints: (
  xs: 0,
  sm2: 420px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
