<div class="about-container">
  <h2>ABOUT</h2>

  <h3>CATCH Overview</h3>

  <p>
    The Comet-Asteroid Telescopic Catalog Hub (CATCH) is a search tool for large astronomical data
    sets. It was especially designed to find observations of moving targets, i.e., comets and
    asteroids. Use CATCH to help identify pre-discovery observations of a target, to examine past
    cometary activity, or to help you understand why a survey did not detect or report observations
    of an object.
  </p>

  <p>
    <em>
      CATCH solves the needle in the haystack problem: your favorite comets and asteroids are the
      needles, and the archives of survey data are the haystacks.
    </em>
  </p>

  <p>Provide the name of an asteroid or comet, and CATCH will:</p>
  <ol>
    <li>
      Request an ephemeris for that object from NASA JPL's
      <a href="https://ssd.jpl.nasa.gov/horizons/">Horizons System</a>.
    </li>

    <li>Query the CATCH database for data near the ephemeris.</li>

    <li>Test each approximate match for detailed intersection with the ephemeris.</li>

    <li>Return all results with both target and observational metadata.</li>
  </ol>

  <p>
    CATCH can also search for any fixed point on the sky, and up to 2 degrees in radius about it.
    Three areal search options are available. Find observations: (1) that intersect any part of the
    search area; (2) that are fully contained within the search area; or, (3) that fully contain the
    search area.
  </p>

  <h3>Capabilities</h3>
  <ul>
    <li>
      Results are presented in the browser, complete with image cutouts around the query target.
    </li>

    <li>Backed by a <a href="apis">publicly accessible API</a>.</li>

    <li>
      Searches all near-Earth object survey data archived with NASA's Planetary Data System, and a
      few other survey data sets. Potentially any publicly hosted data archive could be included.
    </li>

    <li>
      Search results are cached and may be quickly retrieved thereafter, or refreshed with a new
      query.
    </li>

    <li>
      Queries may optionally search an area around the ephemeris: either an arbitrary radius, or
      using the ephemeris uncertainty ellipse (when available).
    </li>

    <li>
      CATCH is designed to have arcsecond-level precision, but searches will be limited by the
      astrometric accuracy of survey metadata.
    </li>
  </ul>

  <h2>Figures and Videos</h2>

  <div class="about-grid">
    <figure class="about-figure">
      <iframe
        frameborder="0"
        src="https://www.youtube.com/embed/wkqoUXds26U?start=18824"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        title="CATCH-ing near-earth objects in archival survey data"
      ></iframe>
      <p>
        A video summary of CATCH's techniques,
        <a href="https://youtu.be/wkqoUXds26U?si=frwAyeF8RAxuCQwa&t=18830"
          ><em>CATCHing Near-Earth Objects in Archival Survey Data</em></a
        >, given by M.&nbsp;Kelley, D.&nbsp;Darg, and J.&nbsp;Bauer to the 7th IAA Planetary
        Defense Conference (2021 Apr 27).
      </p>
    </figure>

    <figure class="about-figure">
      <iframe
        title="CATCH: Finding Celestial Objects with Google’s Spatial Indexing Library “S2”"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
        src="https://www.youtube.com/embed/_m62kWoRsfk?si=SNk4XQwNhISA15Zp"
      ></iframe>
      <p>A video that focuses on the indexing techniques used in CATCH.</p>
    </figure>

    <figure class="about-figure">
      <a [href]="allSkyCoverage">
        <img [src]="allSkyCoverage" alt="CATCH database depth of coverage across the sky" />
      </a>
      <figcaption>
        CATCH database depth of coverage for all data sources in a Mollweide projection. Cell sizes
        are 1.3 degrees across. The cell color scale indicates the number of images that have any
        overlap with it.
      </figcaption>
    </figure>
  </div>

  <h2>Data sources</h2>

  <div class="table-wrapper">
    <table class="data-source-table">
      <thead>
        <tr>
          <th>Survey</th>
          <th>Site</th>
          <th>Dates (UTC)</th>
          <th>Nights</th>
          <th>Images</th>
          <th>Pixel scale (arcsec)</th>
          <th>
            Field of view
            <sup>a</sup>
            (deg<sup>2</sup>)
          </th>
          <th>Filters</th>
          <th>Limiting magnitude</th>
          <th>Archived at</th>
          <th>References</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Asteroid Terrestrial-impact Last Alert System (ATLAS)</td>
          <td>Haleakala Observatory, Hawaii, USA (T05)</td>
          <td>December 2018 &ndash; March 2024, ~July 2025<sup>c</sup></td>
          <td>1,495<sup>c</sup></td>
          <td>1,076,906<sup>c</sup></td>
          <td>1.86</td>
          <td>28</td>
          <td>o, c</td>
          <td></td>
          <td>PDS SBN</td>
          <td>Denneau et al. 2024</td>
        </tr>
        <tr>
          <td>Asteroid Terrestrial-impact Last Alert System (ATLAS)</td>
          <td>Mauna Loa Observatory, Hawaii, USA (T08)</td>
          <td>December 2018 &ndash; March 2024, ~July 2025<sup>c</sup></td>
          <td>1,367<sup>c</sup></td>
          <td>1,043,037<sup>c</sup></td>
          <td>1.86</td>
          <td>28</td>
          <td>o, c</td>
          <td></td>
          <td>PDS SBN</td>
          <td>Denneau et al. 2024</td>
        </tr>
        <tr>
          <td>Asteroid Terrestrial-impact Last Alert System (ATLAS)</td>
          <td>El Sauce Observatory, Rio Hurtado, Chile (W68)</td>
          <td>January 2022 &ndash; March 2024, ~July 2025<sup>c</sup></td>
          <td>736<sup>c</sup></td>
          <td>544,460<sup>c</sup></td>
          <td>1.86</td>
          <td>28</td>
          <td>o, c</td>
          <td></td>
          <td>PDS SBN</td>
          <td>Denneau et al. 2024</td>
        </tr>
        <tr>
          <td>Asteroid Terrestrial-impact Last Alert System (ATLAS)</td>
          <td>South African Astronomical Observatory, Sutherland Station, South Africa (M22)</td>
          <td>December 2021 &ndash; March 2024, ~July 2025<sup>c</sup></td>
          <td>648<sup>c</sup></td>
          <td>394,914<sup>c</sup></td>
          <td>1.86</td>
          <td>28</td>
          <td>o, c</td>
          <td></td>
          <td>PDS SBN</td>
          <td>Denneau et al. 2024</td>
        </tr>
        <tr>
          <td>Catalina Sky Survey</td>
          <td>Mt. Bigelow, Arizona, USA (703, V06)</td>
          <td>January 2020 &ndash; June 2025<sup>c</sup></td>
          <td>1,251<sup>c</sup></td>
          <td>1,408,208<sup>c</sup></td>
          <td>2.5 or 3.0 (703), 0.6 (V06)</td>
          <td>8.1 or 19.4 (703), 0.03 (V06)</td>
          <td>None</td>
          <td></td>
          <td>
            <a href="https://sbn.psi.edu/pds/resource/css.html">PDS SBN</a>
          </td>
          <td>
            <a href="https://doi.org/10.26033/80fq-dn90">Seaman et al. 2022</a>
          </td>
        </tr>
        <tr>
          <td>Catalina Sky Survey</td>
          <td>Mt. Lemmon, Arizona, USA (G96, I52)</td>
          <td>January 2020 &ndash; June 2025<sup>c</sup></td>
          <td>1,295<sup>c</sup></td>
          <td>1,704,048<sup>c</sup></td>
          <td>1.0 or 1.5 (G96), 1.0 (I51)</td>
          <td>1.2 or 5.0 (G96), 0.3 (I52)</td>
          <td>None</td>
          <td></td>
          <td>
            <a href="https://sbn.psi.edu/pds/resource/css.html">PDS SBN</a>
          </td>
          <td>
            <a href="https://doi.org/10.26033/80fq-dn90">Seaman et al. 2022</a>
          </td>
        </tr>
        <tr>
          <td>Lowell Observatory Near-Earth-Object Search (LONEOS)</td>
          <td>Lowell Observatory, Anderson Mesa, Arizona, USA (699)</td>
          <td>August 2003 &ndash; March 2008</td>
          <td>522</td>
          <td>290,593</td>
          <td>2.53</td>
          <td>4.1</td>
          <td>None</td>
          <td>V~18–19</td>
          <td>
            <a href="https://sbn.psi.edu/pds/resource/loneos.html">PDS SBN</a>
          </td>
          <td>
            <a href="https://doi.org/10.26033/ms2j-v867">Tedesco and Davis 2024</a>
          </td>
        </tr>
        <tr>
          <td>Near Earth Asteroid Tracking (NEAT) GEODSS</td>
          <td>Haleakala Observatory, Hawaii, USA (566)</td>
          <td>April 1996 &ndash; May 1998</td>
          <td>147</td>
          <td>36,099</td>
          <td>1.43</td>
          <td>2.7</td>
          <td>None</td>
          <td>V~19</td>
          <td>
            <a href="https://sbn.psi.edu/pds/resource/neat.html">PDS SBN</a>
          </td>
          <td>
            <a href="https://doi.org/10.26033/xkmy-me08">Bauer and Lawrence 2013</a>,
            <a href="https://ui.adsabs.harvard.edu/abs/1999AJ....117.1616P">Pravdo et al. 1999</a>
          </td>
        </tr>
        <tr>
          <td>Near Earth Asteroid Tracking (NEAT) Palomar Tri-Cam</td>
          <td>Palomar Observatory, California, USA (644)</td>
          <td>November 2001 &ndash; March 2003</td>
          <td>150</td>
          <td>128,164</td>
          <td>1.01</td>
          <td>1.3</td>
          <td>None</td>
          <td>V~20</td>
          <td>
            <a href="https://sbn.psi.edu/pds/resource/neat.html">PDS SBN</a>
          </td>
          <td>
            <a href="https://doi.org/10.26033/xkmy-me08">Bauer and Lawrence 2013</a>,
            <a href="https://ui.adsabs.harvard.edu/abs/2016AJ....151...80T">Tricarico 2016</a>
          </td>
        </tr>
        <tr>
          <td>Pan-STARRS 1 (DR2)</td>
          <td>Haleakala Observatory, Hawaii, USA (F51)</td>
          <td>June 2009 &ndash; February 2015</td>
          <td>1,438</td>
          <td>17,558,049<sup>b</sup></td>
          <td>0.25<sup>b</sup></td>
          <td>24×24<sup>b</sup></td>
          <td>grizy</td>
          <td>r~21.8</td>
          <td>
            <a href="https://outerspace.stsci.edu/display/PANSTARRS/">STScI</a>
          </td>
          <td>
            <a href="https://outerspace.stsci.edu/display/PANSTARRS/">Pan-STARRS1 data archive</a>,
            <a href="https://arxiv.org/abs/1612.05560">Chambers et al. 2016</a>,
            <a href="https://ui.adsabs.harvard.edu/abs/2020ApJS..251....4W/abstract"
              >Waters et al. 2020</a
            >,
            <a href="https://ui.adsabs.harvard.edu/abs/2020ApJS..251....6M/abstract"
              >Magnier et al. 2020</a
            >
          </td>
        </tr>
        <tr>
          <td>SkyMapper Southern Survey (DR4)</td>
          <td>Siding Spring Observatory, New South Wales, Australia (413)</td>
          <td>March 2014 &ndash; September 2021</td>
          <td>1,757</td>
          <td>12,630,515</td>
          <td>0.5</td>
          <td>0.16</td>
          <td>uvgriz</td>
          <td>
            shallow survey~19,
            <br />
            main survey~20&ndash;22
          </td>
          <td>
            <a href="https://skymapper.anu.edu.au/">Australian National University</a>
          </td>
          <td>
            <a href="https://ui.adsabs.harvard.edu/abs/2018PASA...35...10W">Wolf et al. 2018</a>,
            <a href="https://ui.adsabs.harvard.edu/abs/2019PASA...36...33O">Onken et al. 2019</a>
          </td>
        </tr>
        <tr>
          <td>Spacewatch 0.9-m Mosaic Camera Survey (v3)</td>
          <td>Steward Observatory, Kitt Peak, Tohono O'odham Nation (691)</td>
          <td>March 2003 &ndash; December 2016</td>
          <td>2,256</td>
          <td>1,808,188</td>
          <td>1.0</td>
          <td>0.35</td>
          <td>Schott OG-515</td>
          <td>V~21.7</td>
          <td>
            <a href="https://sbn.psi.edu/pds/resource/sw.html">PDS SBN</a>
          </td>
          <td>
            <a href="https://doi.org/10.26033/vg18-0670">Brucker et al. 2022</a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="11"><sup>a</sup>Field of view of a single data product.</td>
        </tr>
        <tr>
          <td colspan="11">
            <sup>b</sup>The Pan-STARRS 1 search is based on the archived "<a
              href="https://outerspace.stsci.edu/display/PAN-STARRS/PS1+Sky+tessellation+patterns"
              >skycell</a
            >" images.
          </td>
        </tr>
        <tr>
          <td colspan="11">
            <sup>c</sup>These archives are accumulating data with time. Archive statistics were
            updated on 2025 July 29.
            <a href="https://catch-api.astro.umd.edu/status/sources"
              >Current statistics for CATCH holdings</a
            >
            are available via the CATCH API.
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <hr />

  <h3>CATCH Limitations and Caveats</h3>
  <p>
    CATCH does not perform detection-based searches. i.e., it cannot determine if an object was
    observed. Rather, it identifies images that
    <em>could</em>
    have observed a target, based on the target's ephemeris. This search also requires that the
    ephemeris correctly describes the target's motion on the sky, and that a potentially matching
    observation is correctly described by its metadata.
  </p>

  <h3>Known issues</h3>
  <ol>
    <li>NEAT and LONEOS astrometric solutions are typically up to ~5 arcmin off.</li>

    <li>
      NEAT Palomar/Tricam data from the night of 2002 June 17 have a row-order bug (C. Nugent, Olin
      College). These data are expected to be corrected in a future archive update.
    </li>

    <li>
      Target name resolution: our name resolution service is incomplete. Some real target names may
      not be resolved. However, CATCH can still attempt to search for them. Ultimately, any target
      must be resolvable by
      <a href="https://ssd.jpl.nasa.gov/horizons/">Horizons</a>. Use JPL's
      <a href="https://ssd.jpl.nasa.gov/tools/sbdb_lookup.html">Small-Body Database Lookup</a>
      to test object names that are not working. Take care when searching for fragmented comets
      (e.g., 73P vs. 73P-C).
    </li>

    <li>
      Searches only include dates when an object is brighter than V=25 mag, as predicted by the
      ephemeris generator. Contact us if this limit is affecting your work.
    </li>

    <li>
      Images may not be correctly displayed in the image preview, which causes a misalignment with
      the PanSTARRS catalog overlay.
    </li>
  </ol>

  <h3>Updates</h3>
  <ul>
    <li>
      v3.0 (2025 Jul 9):
      <ul>
        <li>
          All preview images are now aligned with equatorial north up and east to the left,
          according to each image's world coordinate system.
        </li>
        <li>
          Improved the PanSTARRS DR2 catalog overlay to use metadata embedded in the JPEG cutouts,
          if available.
        </li>
      </ul>
    </li>
    <li>
      v3.0-beta (2025 Jan 31):
      <ul>
        <li>New features:</li>
        <ul>
          <li>
            Solar System viewer showing the orientation of the Sun, Earth, target, and other objects
            at the time of each observation.
          </li>
          <li>Image cutout services for all PDS-hosted data.</li>
          <li>Added Lowell Observatory Near-Earth Objects Survey (LONEOS) data collection.</li>
          <li>
            Added Asteroid Terrestrial-impact Last Alert System (ATLAS) data collections. The ATLAS
            collections will be continuously updated with new and previously obtained data.
          </li>
          <li>Fixed-target (celestial) searches.</li>
          <li>Date-range searches.</li>
          <li>PanSTARRS DR2 catalog overlay in the image preview area.</li>
        </ul>
        <li>Other updates:</li>
        <ul>
          <li>Improved web app responsiveness for results with a large number of observations.</li>
          <li>Updated Spacewatch 0.9m Mosaic Camera Survey data from v1.0 to v3.0.</li>
          <li>Updated SkyMapper Southern Sky Survey Data Release from 2 to 4.</li>
          <li>
            Updated the size of NEAT cutouts to accommodate images with large astrometric errors.
          </li>
        </ul>
      </ul>
    </li>
    <li>
      v2.0 (2023 Mar 15):
      <ul>
        <li>New features:</li>
        <ul>
          <li>A new search technique enables areal searches (padding or uncertainty ellipse).</li>
          <li>Search by source now allowed.</li>
          <li>Added Spacewatch 0.9m Mosaic Camera Survey</li>
          <li>Added Catalina Sky Survey Archive</li>
          <li>Added PanSTARRS1 DR2</li>
        </ul>
      </ul>
    </li>
    <li>v1.0 (2020 Nov 12): First release to the public.</li>
  </ul>

  <h3>Acknowledgements</h3>
  <p>
    This software is built entirely with open-source resources, and so we thank all of the authors
    in the JS/python community. Special thanks to Eric Mandel for building the
    <a href="https://js9.si.edu/">JS9 fits-file viewer</a> and for his assistance in integrating it
    into this
    <a href="https://en.wikipedia.org/wiki/Angular_(web_framework)">angular</a>
    {{ ' ' }}
    <a href="https://en.wikipedia.org/wiki/Single-page_application">SPA</a>, and Rick White (STScI)
    for help with the PanSTARRS 1 metadata.
  </p>

  <h3>Acceptable Usage of Site</h3>

  <p>
    CATCH is a service built and operated by the
    <a href="https://pds-smallbodies.astro.umd.edu/">Small Bodies Node</a> of the
    <a href="https://pds.nasa.gov/">NASA Planetary Data System</a> group at the
    <a href="https://www.umd.edu/">University of Maryland</a>. You are welcome to use the tool for
    research and educational purposes. By using this tool, you agree to our
    <a routerLink="/terms">terms and conditions</a>.
  </p>
</div>
