<div class="carousel-container mat-elevation-z8" #carouselContainer>
  <div
    *ngIf="apiData"
    class="main-image"
    [ngStyle]="{ border: (isFitsLoaded ? '3' : '0') + 'px solid red' }"
    #mainImage
  >
    <ng-container *ngIf="isFits; else elseBlockShow">
      <!-- <lib-ngx-js9
        [width]="width"
        [height]="height"
        [siteTheme]="'DARK-THEME'"
        [fitsUrl]="fitsUrl"
        [globalOpts]="{
          menuBar: ['view', 'zoom', 'scale', 'color', 'region'],
          alerts: !true
        }"
        (fitsLoadStatus)="onFitsLoadStatusUpdate($event)"
      ></lib-ngx-js9> -->
    </ng-container>

    <ng-template #elseBlockShow>
      <div
        class="thumbnail-wrapper"
        [ngStyle]="{ width: width + 'px', height: height + 'px' }"
      >
        <!-- <app-star-overlay></app-star-overlay> -->
        <app-table-thumbnail
          *ngIf="!false"
          [element]="chooseApiDatum()"
          [label]="getLabel()"
          [size]="'100%'"
          [width]="width + 'px'"
          [height]="height + 'px'"
          [diameterPxls]="150"
          [isPriority]="true"
        ></app-table-thumbnail>
      </div>
    </ng-template>

    <button
      mat-fab
      [disabled]="isFitsButtonDisabled()"
      (click)="toggleFits()"
      [ngClass]="{ 'raise-button': isButtonRaised }"
    >
      <mat-icon *ngIf="!!isFits">{{ "image" }}</mat-icon>
      <span *ngIf="!isFits" style="font-weight: bold">{{ "FITS" }}</span>
    </button>
  </div>
  <div class="solar-viewer-wrapper">
    <!-- <app-solar-viewer></app-solar-viewer> -->
    <!-- <app-image-wheel></app-image-wheel> -->
  </div>
</div>
