// SCSS Variables
$mobile-font-size: 16px;
$desktop-font-size: 16px;

.title-bar-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #101414;
  font-size: $desktop-font-size;

  // Mobile: smaller text and fixed height
  @media (max-width: 768px) {
    font-size: $mobile-font-size;
  }

  span.unit {
    // margin-right: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
    white-space: nowrap; // Keep content within each span together

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.isMobile {
    font-size: $mobile-font-size;
    gap: 10px;
  }

  div {
    flex: 1 1 auto;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    // border: 1px solid red;
  }

  .jobid {
    a {
      margin-left: 4px;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
    }
  }

  .title,
  .results,
  .jobid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 0;
    a {
      color: #004f4f;
    }
  }

  .download-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    button {
      color: #004f4f;
      white-space: normal;
    }
  }
}
