<div
  #titleContainer
  class="title-container"
  *ngIf="divWidth$ | async as divWidth"
  [ngClass]="{ 'single-row': divWidth > 550, 'hide-buttons': device === 'mobile' }"
>
  <div class="title">
    <h2>{{ 'DATA: ' + (objid ? objid : '') }}</h2>
  </div>

  <div class="button-group">
    <button mat-button (click)="refreshScreen()">
      <mat-icon>refresh</mat-icon>
    </button>

    <mat-button-toggle-group
      #group="matButtonToggleGroup"
      [value]="toggleValue"
      (change)="setToggleValue(group.value)"
    >
      <mat-button-toggle value="mobile" aria-label="Smartphone">
        <mat-icon>smartphone</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="desktop" aria-label="Tv">
        <mat-icon>tv</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <button
      class="download-button"
      mat-button
      (click)="downloadData()"
      matTooltip="Download All Data"
      [disabled]="!isDownloadButtonShown"
    >
      <ng-container *ngIf="!!isDownloadButtonShown">
        <mat-icon>download</mat-icon>
      </ng-container>
      <ng-container *ngIf="!isDownloadButtonShown">
        <mat-spinner style="zoom: 0.2"></mat-spinner>
      </ng-container>
    </button>
  </div>
</div>
